* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.building-container {
  background-color: #d9ccf3;
  width: 800px;
  height: 500px;
  display: flex;
  position: relative;
}

.floors {
  width: 500px;
  height: 100%;
}

.elevator-container {
  position: relative;
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.elevator {
  position: absolute;
  width: 150px;
  height: 150px;
  border: #b0b00b solid 2px;
  background-color: #fdfd81;
  transition: all 1s ease-in-out;
}

.first {
  bottom: 22px;
}

.second {
  bottom: 176px;
}

.third {
  bottom: 328px;
}

.floors {
  display: flex;
  flex-direction: column;
  padding: 20px;

  & > div {
    flex: 1;
    border-bottom: #b0b00b solid 2px;
  }
}

.person-wrapper {
  width: 50px;
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: start;
  transition: all 1s ease-in-out;

  img {
    width: 100%;
  }
}

.waiting-in-1 {
  bottom: 22px;
  right: 400px;
}

.waiting-in-2 {
  bottom: 176px;
  right: 400px;
}

.waiting-in-3 {
  bottom: 328px;
  right: 400px;
}

.leaving {
  right: 700px
}

.in-elevator {
  right: 200px;
}

#to-where {
  img {
    position: absolute;
  }

  p {
    position: absolute;
    top: 6px;
    right: -27px;
    font-weight: bold;
  }
}

.elevator-buttons {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  & > div {
    width: 70px;
    height: 70px;
    background-color: #fdfd81;
    cursor: pointer;
    border: #b0b00b 5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b0b00b;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
      background-color: #dede32;
      color: #808000;
    }
  }
}